<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SoA Workbench</title>
  <link rel="stylesheet" href="/static/style.css?v=20240109" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="sidenav">
      <a href="/">Home</a>
      {% if soa_id %}
        <a href="/ui/soa/{{ soa_id }}/schedule_timelines">Schedule Timelines</a>
        <a href="/ui/soa/{{ soa_id }}/timings">Study Timing</a>
        <a href="/ui/soa/{{ soa_id }}/instances">Scheduled Activity Instances</a>
        <a href="/ui/soa/{{ soa_id }}/epochs">Epochs</a>
        <a href="/ui/soa/{{ soa_id }}/arms">Arms</a>
        <a href="/ui/soa/{{ soa_id }}/visits">Encounters</a>
        <a href="/ui/soa/{{ soa_id }}/elements">Elements</a>
      {% endif %}
      <a href="/ui/concept_categories">Biomedical Concept Categories</a>
      <a href="/ui/concepts">Biomedical Concepts</a>
      <a href="/ui/sdtm/specializations">SDTM Dataset Specializations</a>
      <a href="/ui/ddf/terminology">DDF Terminology</a>
      <a href="/ui/protocol/terminology">Protocol Terminology</a>
      <a href="/ui/ddf/terminology/audit">DDF Audit</a>
      <a href="/ui/protocol/terminology/audit">Protocol Audit</a>
    </div>
  <h1 class="heading">SoA Workbench</h1>
  <hr />
<main class="main">
  {% block content %}{% endblock %}
</main>
<footer>
  <hr />
  <small>&copy; 2025 SoA Workbench</small>
</footer>
</body>
</html>
