<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SoA Workbench</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="sidenav">
      <a href="/">🏠 Home</a>
      <!-- Study specific editing submenu -->

      {% if soa_id %}
      <ul>
        <li>
          <a href="#">✍🏻 Study Design</a>
          <ul>
            <li><a href="{{ url_for('ui_list_activities', soa_id=soa_id) }}">Activities</a></li>
            <li><a href="{{ url_for('ui_study_timing', soa_id=soa_id) }}">Study Timing</a></li>
            <li><a href="{{ url_for('ui_list_epochs', soa_id=soa_id) }}">Epochs</a></li>
            <li><a href="{{ url_for('ui_list_arms', soa_id=soa_id )}}">Arms</a></li>
            <li><a href="{{ url_for('ui_list_study_cells', soa_id=soa_id) }}">Study Cells</a></li>
            <li><a href="{{ url_for('ui_list_visits', soa_id=soa_id) }}">Encounters</a></li>
            <li><a href="{{ url_for('ui_list_elements', soa_id=soa_id) }}">Elements</a></li>
            <li><a href="{{ url_for('ui_list_rules', soa_id=soa_id) }}">Transition Rules</a></li>
            <li><a href="{{ url_for('ui_usdm_json', soa_id=soa_id) }}">Generate USDM JSON</a></li>
            <li><a href="{{ url_for('ui_tdd', soa_id=soa_id) }}">Generate Trial Design Domains</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
      
      <!-- Biomedical Concepts submenu -->
      <ul>
        <li>
          <a href="#">🛠 Biomedical Concepts</a>
          <ul>
            <li><a href="{{ url_for('ui_concepts_list') }}">Concepts Explorer</a></li>
            <li><a href="{{ url_for('ui_categories_list') }}">Concept Categories</a></li>
            <li><a href="{{ url_for('ui_list_concept_groups') }}">Concept Groups</a></li>
            <li><a href="{{ url_for('ui_sdtm_specializations_list') }}">Dataset Specializations</a></li>
          </ul>
        </li>
      </ul>
      
      <!-- Terminology submenu -->
      <ul>
        <li>
          <a href="#">📖 Terminology</a>
          <ul>
            <li><a href="{{ url_for('ui_ddf_controlled_terminology') }}">DDF Controlled Terminology</a></li>
            <li><a href="{{ url_for('ui_protocol_controlled_terminology') }}">Protocol Controlled Terminology</a></li>
            <li><a href="{{ url_for('ui_sdtm_terminology') }}">SDTM Controlled Terminology</a></li>
            <li><a href="{{ url_for('ui_cdash_terminology') }}">CDASH Controlled Terminology</a></li>
            <li><a href="{{ url_for('ui_define_xml_terminology') }}">Define-XML Controlled Terminology</a></li>
          </ul>
        </li>
      </ul>
      
      <a href="/ui/help">🤔 Help</a>
    </div>
    
  <h1 class="heading">SoA Workbench</h1>
  <hr />
  
<main class="main">
  {% block content %}{% endblock %}
</main>

<footer>
  <hr />
  <small>&copy; 2025 SoA Workbench</small>
</footer>
</body>
</html>